<?xml version="1.0" encoding="utf-8"?>
<!--
  Please do not remove the following notices.
  Copyright (c) 2011 by Geekscape Pty. Ltd.
  License: AGPLv3 http://geekscape.org/static/aiko_license.html
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.geekscape.android.androidui"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="13" />

  <application android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.NoTitleBar">

    <activity android:name="org.geekscape.android.androidui.AndroidUIActivity"
      android:label="@string/app_name">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
